.clients {
    padding-top: 120px;
    padding-bottom: 120px;
    /* position: relative; */
    position: sticky;
    top: 20px;
    /* top: 67px; */
    background-color: var(--bg-color-1);
}

.clients__container {
    /* position: relative; */
}

.clients__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 98px;
    text-transform: uppercase;
    color: var(--dark-bg-1);
    margin-left: -4px;
}

.clients__slider-blocks-wrapper {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.clients__slider-block {
    /* position: relative; */
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.clients__slider-block:before, 
.clients__slider-block:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.clients__slider-block:before {
    left: 0;
    /* background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    ); */
    background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, var(--bg-color-1) 100%);
    transform: rotate(-180deg);
}

.clients__slider-block:after {
    right: 0;
    /* background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); */
    background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, var(--bg-color-1) 100%);
}

.clients__ticker-items {
    /* display: flex;
    align-items: center;
    gap: 17px; */
    flex-shrink: 0;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
}

.clients__ticker-item {
    border: 1px solid var(--bg-colour);
    border-radius: 5px;
    width: 226px;
    height: 114px;
    background: var(--bg-colour);
    position: relative;
    /* padding-left: 100%; */
    /* animation: ticker 2s infinite linear; */
    transition: all 0.1s ease-in-out;
}

.clients__ticker-item:hover {
    border: 1px solid var(--accent);

    -webkit-transform: rotateZ(-2deg) scale(0.9);
    -ms-transform: rotateZ(-2deg) scale(0.9);
    transform: rotateZ(-2deg) scale(0.9);

    -webkit-box-shadow: inset 0px 0px 24px -11px rgba(255,104,49,0.45);
    -moz-box-shadow: inset 0px 0px 24px -11px rgba(255,104,49,0.45);
    box-shadow: inset 0px 0px 24px -11px rgba(255,104,49,0.45);

}

.clients__ticker-item .clients__ticker-item_svg path{
    transition: all 0.1s ease-in-out;
}

.clients__ticker-item:hover .clients__ticker-item_svg path{
    fill: var(--accent);
}

.marquee {
    animation: ticker 40s linear infinite;
}

.reverce {
    animation-direction: reverse;
}

.clients__slider-block:hover .marquee {
    animation-play-state: paused;
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.clients__ticker-item_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .clients__slider {
}

.clients__slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.clients__slider-wrapper 
.client-item-1,
.clients__slider-wrapper 
.client-item-2,
.clients__slider-wrapper 
.client-item-3,
.clients__slider-wrapper 
.client-item-4,
.clients__slider-wrapper 
.client-item-5,
.clients__slider-wrapper 
.client-item-6,
.clients__slider-wrapper 
.client-item-7,
.clients__slider-wrapper 
.client-item-8,
.clients__slider-wrapper 
.client-item-9,
.clients__slider-wrapper 
.client-item-10 {
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.clients__slider-wrapper._active-animat-client .client-item-1 {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.clients__slider-wrapper._active-animat-client .client-item-2 {
    opacity: 1;
    transition: all 0.3s ease 0.2s;
}

.clients__slider-wrapper._active-animat-client .client-item-3 {
    opacity: 1;
    transition: all 0.3s ease 0.4s;
}

.clients__slider-wrapper._active-animat-client .client-item-4 {
    opacity: 1;
    transition: all 0.3s ease 0.6s;
}

.clients__slider-wrapper._active-animat-client .client-item-5 {
    opacity: 1;
    transition: all 0.3s ease 0.8s;
}

.clients__slider-wrapper._active-animat-client .client-item-6 {
    opacity: 1;
    transition: all 0.3s ease 1.0s;
}
.clients__slider-wrapper._active-animat-client .client-item-7 {
    opacity: 1;
    transition: all 0.3s ease 1.2s;
}
.clients__slider-wrapper._active-animat-client .client-item-8 {
    opacity: 1;
    transition: all 0.3s ease 1.4s;
}
.clients__slider-wrapper._active-animat-client .client-item-9 {
    opacity: 1;
    transition: all 0.3s ease 1.6s;
}
.clients__slider-wrapper._active-animat-client .client-item-10 {
    opacity: 1;
    transition: all 0.3s ease 1.8s;
}




.clients__slider-item {
}

.clients__slider-item-img {
    width: 80px;
    height: 80px;
}

.clients__slider-item-img img {
    max-width: 100%;
    border-radius: 30px;
}

.clients__slider-item-description {
    padding-top: 32px;
}

.clients__slider-description-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 110%; 
    color: #151515;
}

.clients__slider-description-text {
    padding-top: 12px;
    height: 242px;

    font-size: 18px;
    font-weight: 400;
    line-height: 120%; 
    color: #151515;
}

.clients__slider-btn-wrapper {
    position: absolute;
    right: 0;
    top: -92px;
    z-index: 3;
    display: flex;
    gap: 10px;
}

.clients__slider-btn {
    position: relative;
}

.clients__slider-btn-prev,
.clients__slider-btn-next {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: 2px solid #A8A8A8;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.clients__slider-btn-prev:hover,
.clients__slider-btn-next:hover {
    border: 2px solid #151515;
}

.clients__slider-btn-prev .slider__btn-prev {
    position: absolute;
    top: 20px;
    right: 18px;
    border: solid #A8A8A8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
    transition: 0.2s ease-in-out;
}

.clients__slider-btn-next .slider__btn-next {
    position: absolute;
    top: 20px;
    right: 22px;
    border: solid #A8A8A8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.2s ease-in-out;
}

.clients__slider-btn-prev:hover .slider__btn-prev {
    border: solid #151515;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
}

.clients__slider-btn-next:hover .slider__btn-next {
    border: solid #151515;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */


@media (max-width: 1190px) {
    .clients {
        padding-top: 80px;
    }

    .clients__title {
        font-size: 86px;
    }
}

@media (max-width: 891px) {
    .clients {
        padding-top: 60px;
    }

    .clients__title {
        font-size: 62px;
    }

    .clients__ticker-items {
        gap: 12px;
    }

    .clients__slider-blocks-wrapper {
        padding-top: 24px;
        gap: 12px;
    }

    .clients__ticker-item {
        width: 147px;
        height: 74px;
    }

    .clients__ticker-item_svg {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 720px) {
    .clients__title {
        font-size: 48px;
    }
}