:root {
	--dark-bg: #1b1b1c;
	--bg-colour: #eee;
	--grey: #a8a8a8;
	--dark-text: #151515;
	--bg-color-1: #f5f5f5;
	--dark-bg-1: #090909;
	--accent: #ff6831;

    --font-family: "FixelText", sans-serif;
    --font-family2: "FixelDisplay", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Unbounded", sans-serif;
}

* {
	padding: 0px;
	margin: 0px;
    border: none;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
    /* cursor: pointer; */
}

body {
    min-width: 320px;
    font-family: var(--font-family2);
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-bg-1);
    background-color: var(--bg-color-1);
    /* color: #151515; */
    /* background-color: #eeeeee; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1374px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.none {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.fixed-section {
    position: sticky;
    top: 0;
    opacity: 0;
}


/* services links */

.all:hover,
.all:focus {
    background-color: #FF6831;
    color: var(--bg-color-1);
    /* border: 1px solid var(--bg-color-1); */
}
.branding:hover,
.branding:focus {
    background-color: #7FCEFF;
    color: var(--bg-color-1);
}
.video_production:hover,
.video_production:focus {
    background-color: #41EAC8;
    color: var(--bg-color-1);
}
.design:hover,
.design:focus {
    background-color: #F68DD4;
    color: var(--bg-color-1);
}
.d3:hover,
.d3:focus {
    background-color: #C59AED;
    color: var(--bg-color-1);
}
.motion:hover,
.motion:focus {
    background-color: #EA70A6;
    color: var(--bg-color-1);
}
.website:hover,
.website:focus {
    background-color: #75B9ED;
    color: var(--bg-color-1);
}
.social_media:hover,
.social_media:focus {
    background-color: #67D9AB;
    color: var(--bg-color-1);
}
.package:hover,
.package:focus {
    background-color: #E7A3A3;
    color: var(--bg-color-1);
}
.logo:hover,
.logo:focus {
    background-color: #CBDE76;
    color: var(--bg-color-1);
}
.stand_event:hover,
.stand_event:focus {
    background-color: #6FC2DE;
    color: var(--bg-color-1);
}
.merch:hover,
.merch:focus {
    background-color: #DDB4B4;
    color: var(--bg-color-1);
}
.igaming:hover,
.igaming:focus {
    background-color: #F7C39E;
    color: var(--bg-color-1);
}
.horeca:hover,
.horeca:focus {
    background-color: #A3A8F1;
    color: var(--bg-color-1);
}
.it:hover,
.it:focus {
    background-color: #B4A7EB;
    color: var(--bg-color-1);
}
.b2b:hover,
.b2b:focus {
    background-color: #F2766D;
    color: var(--bg-color-1);
}
.b2c:hover,
.b2c:focus {
    background-color: #6EC8EE;
    color: var(--bg-color-1);
}
.naming:hover,
.naming:focus {
    background-color: #769AF7;
    color: var(--bg-color-1);
}
.game_design:hover,
.game_design:focus {
    background-color: #73E192;
    color: var(--bg-color-1);
}
.identics:hover,
.identics:focus {
    background-color: #3d9903;
    color: var(--bg-color-1);
}


/* cursor */

.cursor_wrapper {

}

#cursor, #aura {
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 50;
    display: none;

    /* $_hidden {
        transform: scale(.001);
    } */
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 18, 103, 1);

    transform: scale(1);
}

#aura {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(255, 18, 103, .2);
    background-color: rgba(255, 18, 103, .6);
    transform: translate(5px, 5px);
}

.cursor-hidden {
    display: none;
}

#cursor.cursor-hidden, 
#aura.cursor-hidden {
    transform: scale(.001);
}

#cursor.cursor_active {
    opacity: 0;
    transform: scale(0);
}

#aura.cursor_active {
    border: 1.2px solid rgba(255, 18, 103, .6);
    /* transform: scale(1.3); */
    transform: scale(.4);
}



/* кнопка на верх */

.scroll-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: #cecece;
    cursor: pointer;
    visibility: hidden;
    border-radius: 5px;
    /* border-radius: 0 5px 0 5px; */
    box-shadow: inset 0 0 0 4px #cecece;
    opacity: 0;
    transition: .25s;
    transform: translateY(25px);
}

.scroll-up::before {
    position: absolute;
    top: 2px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-bottom: 0px;
    content: '↑';
}

.scroll-up:hover {
    color: #e88c03;
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scroll-up__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: #e88c03;
    stroke-width: 5px;
    transition: .25s;
}



/* SVG Hover portfolio */

/* .dots {
	display: block;
}

.dots svg.mask {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	mix-blend-mode: screen;
	z-index: 2;
	overflow: hidden;
}

.dots svg.mask ellipse {
	will-change: transform;
	transform-box: fill-box;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
} */


