.guys {
    /* padding-top: 130px; */
    /* padding-top: 70px; */
    padding-top: 20px;
    /* position: relative; */

    width: 100%;
    height: 100%;
    position: absolute;
    top: 28vh;
    left: 0;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* position: sticky;
    top: -133px; */
}

.guys__container {
    position: relative;
}

.guys__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;

    /* overflow: hidden; */
}

.guys__content-border {
    /* background: #eeeeee; */
    background: #F5F5F5;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    /* bottom: -300px; */
    z-index: 13;

    opacity: 1;
}

.guys__letter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: end;
    justify-items: center; */

    gap: 30px;
    z-index: 1;
    /* height: 204px; */
    /* width: 390px; */
    /* height: 100%;
    width: 100%; */

    /* overflow: hidden; */
}

.guys__letter-wrapper .guys__letter,
.guys__letter-wrapper .guys__letter-hov {
    width: 100%;
    height: 100%;
}

.guys__letter-wrapper-bottom {
    height: 278px;
}


.guys__letter-wrapper-item-3 {
    /* background-color: #eeeeee; */
    height: 100%;
    display: flex;
    align-items: end;
}

.guys__letter-wrapper-item-1 .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-2 .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-3 .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-4 .guys__letter-change:nth-of-type(2) {
    display: none;
}

.guys__letter-wrapper-item-1:hover .guys__letter-change:nth-of-type(1),
.guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(1),
.guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(1),
.guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(1) {
    display: none;
}

.guys__letter-wrapper-item-1:hover .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2),
.guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
    display: block;
}

.guys__letter-wrapper-item-1:hover .guys__letter-change:nth-of-type(2) {
    margin-left: -10px;
    margin-right: -9px;
}

.guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(2) {
    /* margin-left: -5px; */
    margin-right: 2px;
}

.guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2) {
    margin-left: -26px;
    margin-right: -5px;
}

.guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
    margin-left: -13px;
    margin-right: -15px;

}

.guys__letter-wrapper-item-1:hover,
.guys__letter-wrapper-item-2:hover,
.guys__letter-wrapper-item-3:hover,
.guys__letter-wrapper-item-4:hover {
    cursor: pointer;
}


.guys__video-block {
    position: relative;
    width: 423px;
    height: 225px;
    border-radius: 300px;
    overflow: hidden;
    cursor: pointer;

    margin-top: 20px;
    /* margin-top: 60px; */
    /* z-index: 12; */
}


.video-fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    z-index: 80;

    overflow: hidden;

    /* border-radius: 10px; */

}

.video-relative {
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    z-index: -1;

    /* margin-top: -40px; */

    /* opacity: 1; */
    /* transition: all 0.8s; */
    /* animation: fade1 1s 5s forwards; */
}

/* 
@keyframes fade1 {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        height: 90%;
        width: 90%;
    }
    100% {
        opacity: 0;
        height: 0;
        width: 0;
    }
} */


.guys__video-block:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, 0.05);
}

.guys__video-block .video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}


.guys__video-block .video {
    background-color: transparent;
    border-bottom: 1px solid transparent; /* хак для предотвращения мелькания при загрузке на некоторых версиях ios */
    
    &::-webkit-media-controls-panel {
        display: none !important;
        -webkit-appearance: none;
        opacity: 0;
        visibility: hidden;
    }
    &::-webkit-media-controls-play-button {
        display: none !important;
        -webkit-appearance: none;
        opacity: 0;
        visibility: hidden;
    }
    &::-webkit-media-controls-start-playback-button {
        display: none !important;
        -webkit-appearance: none;
        opacity: 0;
        visibility: hidden;
    }
}


/* video button none */

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
}




.guys__content-tagline {
    position: absolute;
    bottom: -200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 14;
    text-align: center;
    opacity: 1;
}

.guys__content-tagline_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: var(--accent);
}

.guys__content-tagline_arrow {
    padding-top: 4px;
    transform: translate(0, 15%);
    transition: transform 0.2s ease-in-out;

    animation: moving 1s infinite;
    animation-direction: alternate-reverse;
    /* animation-direction: alternate, reverse; */
    /* &:hover {
        transform: translate(0, 10%);
    } */
}

@keyframes moving {
    to {
        transform: translate(0, 0%);
    }
}


/* * не используется */
.guys__arrow {
    position: absolute;
    right: 4px;
    /* top: 106px; */
    top: 46%;
    z-index: 3;
    cursor: pointer;
}

.guys__slider-btn {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background: #FFC700 url('../image/arrow.svg') no-repeat center/12px; */
    /* background-color: #eeeeee; */
    background: rgba(238, 238, 238, 0.7);
    border: 0;
    padding: 0;
    cursor: pointer;
}

.guys__slider-btn-next {
    /* position: relative; */
}

.arrow-right {
    position: absolute;
    top: 38%;
    right: 40%;
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 0 1px 1px 0;
    /* border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-left-width: 0px; */

    display: inline-block;
    /* padding: 1.5px; */
    width: 3px;
    height: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    /* transition: transform 0.2s; */
}

/* .arrow-right-pause {
    position: absolute;
    top: 38%;
    right: 35%;
    border: solid #000000;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    display: inline-block;
    width: 5px;
    height: 2px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
} */



@media (max-width: 1330px) {
    .guys {
        top: 20vh;
    }

    .guys__content {
        gap: 20px;
    }

    .guys__letter-wrapper {
        gap: 15px;
    }

    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 90%;
        height: 100%;
    }
    
    .guys__letter-wrapper-item-3,
    .guys__letter-wrapper-item-4 {
        text-align: right;
    }

    .guys__video-block {
        height: 200px;
        width: 380px;
        padding-top: 60px;
    }
}

@media (max-width: 1190px) {
    .guys__content {
        gap: 5px;
    }

    .guys__letter-wrapper {
        gap:5px;
    }
    
    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 85%;
        height: 100%;
    }
    
    .guys__video-block {
        height: 190px;
        width: 340px;
        /* padding-top: 60px; */
    }

    /* .guys__letter-change {
        width: 160px;
        height: 200px;
    } */
}

@media (max-width: 1120px) {
    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 80%;
        height: 100%;
    }
    
    .guys__video-block {
        height: 175px;
        width: 300px;
        /* padding-top: 60px; */
    }
}

@media (max-width: 1080px) {
    .guys {
        top: 15vh;
    }

    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 80%;
        height: 100%;
    }

    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -26px;
        margin-right: -5px;
    }
    
    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -13px;
        margin-right: -15px;
    }
    
    .guys__video-block {
        height: 170px;
        width: 260px;
    }

    .guys__letter-wrapper-top {
        margin-right: -20px;
        /* padding-right: 20px; */
    }

    .guys__letter-wrapper-bottom {
        margin-left: -20px;
        /* padding-left: 20px; */
    }

    .guys__letter-wrapper-item-2 {
        margin-left: -20px;
    }

    .guys__letter-wrapper-item-3 {
        margin-right: -20px;
    }

    /* .header__nav-slogan {
        display: none;
        opacity: 0;
    } */
}


@media (max-width: 960px) {
    .guys__letter-wrapper-top {
        margin-right: -30px;
        /* padding-right: 20px; */
    }

    .guys__letter-wrapper-bottom {
        margin-left: -30px;
        /* padding-left: 20px; */
    }

    .guys__letter-wrapper-item-2 {
        margin-left: -20px;
    }

    .guys__letter-wrapper-item-3 {
        margin-right: -20px;
    }

    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 70%;
        height: 100%;
    }
    
    .guys__video-block {
        height: 155px;
        width: 220px;
    }

}

@media (max-width: 890px) {
    .guys {
        top: 60px;
    }

    .guys__video-block {
        position: absolute;
        top: 88vh;
        z-index: 15;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 5px;
    }

    .guys__content-border {
        /* opacity: 0; */
        /* height: 200px; */

    }

    .guys__letter-wrapper-top {
        margin-right: -10px;
        /* padding-right: 20px; */
    }

    .guys__letter-wrapper-bottom {
        margin-left: -10px;
        /* padding-left: 20px; */
    }

    .guys__letter-wrapper-item-2 {
        margin-left: -5px;
    }

    .guys__letter-wrapper-item-3 {
        margin-right: -5px;
    }

    .guys__letter-wrapper .guys__letter,
    .guys__letter-wrapper .guys__letter-hov {
        width: 90%;
        height: 100%;
    }

    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -20px;
        margin-right: -5px;
    }
    
    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -23px;
        margin-right: -5px;
    
    }

    .guys__letter-wrapper {
        gap: 40px;
    }

    .guys__content {
        gap: 50px;
    }

    .guys__content-tagline {
        bottom: -180px;
    }
}

@media (max-width: 880px) {
    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -20px;
        margin-right: -5px;
    }
    
    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -23px;
        margin-right: -5px;
    
    }

}

@media (max-width: 860px) {
    .guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(2) {
        /* margin-left: -5px; */
        margin-right: 0;
    }

    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -23px;
        margin-right: -8px;
    }

}

@media (max-width: 830px) {
    .guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(2) {
        /* margin-left: -5px; */
        margin-right: 1px;
    }
}

@media (max-width: 781px) {
    .guys {
        top: 100px;
    }

    .guys__letter-wrapper-bottom {
        height: 210px;
    }
}

@media (max-width: 720px) {
    .guys {
        top: 120px;
    }

    .guys__content {
        gap: 25px;
    }

    .guys__letter-wrapper {
        gap: 12px;
    }

    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
        margin-left: -18px;
        margin-right: -10px;
    
    }

}

@media (max-width: 460px) {
    .guys__letter-wrapper-bottom {
        height: 220px;
    }

    .guys__content {
        gap: 25px;
    }

    .guys__letter-wrapper {
        gap: 12px;
    }

    .guys__content-tagline {
        bottom: -280px;
    }

    .guys__letter-wrapper-item-1:hover .guys__letter-change:nth-of-type(1),
    .guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(1),
    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(1),
    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(1) {
        display: block;
    }

    .guys__letter-wrapper-item-1:hover .guys__letter-change:nth-of-type(2),
    .guys__letter-wrapper-item-2:hover .guys__letter-change:nth-of-type(2),
    .guys__letter-wrapper-item-3:hover .guys__letter-change:nth-of-type(2),
    .guys__letter-wrapper-item-4:hover .guys__letter-change:nth-of-type(2) {
        display: none;
    }
}