.news {
    padding-top: 120px;
    padding-bottom: 140px;
    /* position: relative; */
	position: sticky;
	top: -40px;
	/* top: -140px; */

    background-color: var(--bg-color-1);
}

.news__title {
    font-weight: 500;
    font-size: 98px;
    text-transform: uppercase;
    color: var(--dark-bg-1);
    margin-left: -8px;
}

.news__title span {
    color: var(--grey);
    text-decoration-line: underline;
}

.news__description-wrapper {
    padding-top: 20px;
    /* padding-top: 40px; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* .news__description {
    position: relative;
    width: 20%;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
} */

/* .news__description img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 5px;
} */

.news__img {
    max-width: 660px;
    height: 420px;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

/* .news__img:hover {
    box-shadow: inset 0px 0px 30px 15px rgba(0,0,0,0.8);

    filter: blur(2px);
    -webkit-filter: blur(2px);
} */

.news__text {
    padding-top: 18px;
}

.news__text h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: var(--dark-bg-1);
    transition: 0.3s;
}

/* .news__img:hover .news__text h3 {
    color: var(--accent);
} */

.news__description:hover .news__img {
    /* transform: rotate(-2deg) scale(0.95);
    -webkit-transform: rotate(-2deg) scale(0.95);
    -o-transform: rotate(-2deg) scale(0.95);
    -moz-transform: rotate(-2deg) scale(0.95); */

    box-shadow: inset 0px 0px 30px 15px rgba(0,0,0,0.8);

    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.news__description:hover .news__text h3 {
    color: var(--accent);
}




.news__img.poligon_news-close0 {
    clip-path: polygon(0 0, 4% 0, 8% 0, 12% 0, 15% 0, 19% 0, 23% 0, 27% 0, 30% 0, 38% 0, 34% 0, 42% 0, 46% 0, 50% 0, 54% 0, 58% 0, 62% 0, 66% 0, 70% 0, 74% 0, 79% 0, 83% 0, 87% 0, 91% 0, 96% 0, 100% 0, 100% 7%, 100% 15%, 100% 23%, 100% 31%, 100% 39%, 100% 47%, 100% 56%, 100% 64%, 100% 71%, 100% 78%, 100% 86%, 100% 93%, 100% 100%, 96% 100%, 92% 100%, 88% 100%, 83% 100%, 79% 100%, 74% 100%, 70% 100%, 66% 100%, 62% 100%, 57% 100%, 53% 100%, 49% 100%, 45% 100%, 41% 100%, 36% 100%, 31% 100%, 27% 100%, 22% 100%, 17% 100%, 11% 100%, 5% 100%, 0 100%, 0 92%, 0 84%, 0 75%, 0 66%, 0 55%, 0 44%, 0 35%, 0 26%, 0 17%, 0 8%);
}

.news__img.poligon_news-close1 {
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 46%, 100% 100%, 48% 100%, 0 100%, 0 50%);
}


.news__img:hover.poligon_news-close0 {
    clip-path: polygon(4% 16%, 6% 11%, 7% 8%, 9% 5%, 11% 3%, 13% 1%, 16% 0, 18% 0, 21% 2%, 25% 7%, 28% 8%, 30% 7%, 36% 1%, 39% 0, 42% 1%, 49% 8%, 51% 9%, 54% 8%, 60% 1%, 63% 0, 66% 1%, 71% 8%, 74% 9%, 76% 8%, 83% 1%, 86% 0, 89% 1%, 92% 3%, 96% 9%, 97% 12%, 99% 25%, 99% 30%, 100% 46%, 100% 50%, 99% 67%, 99% 72%, 96% 89%, 95% 92%, 91% 98%, 88% 99%, 85% 100%, 82% 99%, 76% 93%, 74% 92%, 71% 93%, 66% 98%, 63% 100%, 60% 99%, 53% 95%, 51% 94%, 48% 94%, 40% 99%, 37% 100%, 34% 98%, 28% 93%, 25% 92%, 22% 93%, 18% 97%, 16% 99%, 13% 100%, 10% 98%, 6% 92%, 4% 87%, 2% 78%, 1% 72%, 0 56%, 0 52%, 0 46%, 1% 31%, 2% 24%, 3% 20%);
}

.news__img:hover.poligon_news-close1 {
    clip-path: polygon(0 0, 50% 10%, 100% 0, 91% 46%, 100% 100%, 50% 89%, 0 100%, 8% 49%);
}


@media (max-width: 1330px) {
    .news {
        /* padding-top: 120px;
        top: -40px; */
    }
    .news__img {
        height: 360px;
    }    
}

@media (max-width: 1190px) {
    .news {
        padding-top: 80px;
        padding-bottom: 120px;
        top: -10px;
    }

    .news__title {
        font-size: 86px;
    }
}

@media (max-width: 1120px) {
    .news__img {
        height: 280px;
    }    
}

@media (max-width: 891px) {
    .contacts {
        padding-top: 60px;
    }

    .news__title {
        font-size: 62px;
    }

    .news__description-wrapper {
        gap: 12px;
    }

    .news__img {
        max-width: 358px;
        height: 210px;
    }    
}

@media (max-width: 720px) {
    .news {
        /* margin-top: 110px; */
        padding-top: 60px;
        position: relative;
    }
    .news__title {
        font-size: 48px;
    }

    .news__img {
        height: 190px;
    } 
}

@media (max-width: 620px) {
}

@media (max-width: 560px) {
    .news {
        position: relative;
        top: 0;
    }

    .news__description-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .news__img {
        max-width: 100%;
        height: 320px;
        /* height: 252px; */
    }    
}

@media (max-width: 460px) {
    .news__img {
        height: 252px;
    }    
}