.case-home {
    padding-top: 180px;
    background-color: var(--bg-color-1);
    position: sticky;
	top: -100px;
    /* height: 98vh; */
}

.case-home__title {
    font-weight: 500;
    font-size: 98px;
    text-transform: uppercase;
    color: var(--dark-bg-1);

    padding-bottom: 20px;

}

.case-home__wrapper {
    /* padding-top: 30px; */
    position: relative;
}

.case-home__bg {
    max-width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.case4-home__bg-mobil {
    display: none;
}

.case5-home__bg-mobil {
    display: none;
}


.case-home__item-links {
    position: absolute;
    /* top: 62px; */
    top: 33px;
    max-width: 414px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.case-home__item-link {
    border-radius: 30px;
    padding: 6px 12px;
    padding-top: 7px;
    background: var(--bg-color-1);
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: var(--dark-bg-1);
    white-space: nowrap; 
}



.case-slogan {
    position: sticky;
	top: 50px;
    background-color: var(--bg-color-1);
}

.case-slogan.case6-slogan {
    top: 0;
}

.case-slogan.case4-slogan {
    position: relative;
	top: 50px;
    background-color: var(--bg-color-1);
}

.case-slogan.case4-slogan2 {
    display: none;
}


.case-slogan__text {
    padding-top: 104px;
    padding-bottom: 104px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--dark-bg-1);
    text-indent: 30%;
}

.case-slogan__text p .finger {
    display: inline-block;
    transform: rotate(210deg);
}

.case-slogan__text a {
    display: block;
    padding-top: 20px;
    text-align: center;
}

.case-slogan__text2 {
    max-width: 970px;
    padding-top: 167px;
    padding-bottom: 135px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    gap: 75px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: var(--dark-bg-1);
    text-indent: 0%;
}

.case4-slogan__text,
.case6-slogan__text {
    text-indent: 0%;
}

.case4-slogan__text-p1 {
    padding-bottom: 50px;
}



.case-slogan-bg {
    position: sticky;
	/* top: 85px; */
	top: 79px;
    background-color: var(--bg-color-1);

    height: 100%;
}

.case-slogan__img {
    max-width: 100%;
    /* height: 82vh; */
    /* height: 86vh; */
    height: 688px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.case-slogan__img.case-slogan__img-brd {
    border-radius: 0px;
}

.case-slogan-bg .case-slogan__img {
    height: 90vh;
} 



.case-slogan-bg2, 
.case-slogan-bg3, 
.case-slogan-bg4, 
.case-slogan-bg5 {
    padding-top: 24px;
    background-color: var(--bg-color-1);
    position: sticky;
	top: 50px;

    /* height: 100vh; */
    /* height: 688px; */
    height: 712px;
}

.case-slogan-bg2.case11-slogan-bg2 {
    display: none;
}

.case-slogan-bg4, 
.case-slogan-bg5 {
    padding-top: 24px;
    position: sticky;
	top: 58px;
}

.case3-slogan-bg5 {
    height: 380px;
}

.case3-slogan__img {
    height: 344px;
}


.case-slogan-bg3 {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--bg-color-1);
    position: sticky;
	top: 58px;
}

.case-slogan__img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
}



.case-slogan__ticker {
    padding-top: 24px;
    background-color: var(--bg-color-1);
    position: sticky;
	top: 58px;
    width: 100%;
    max-width: 100%;
    /* overflow-x: hidden; */
    overflow: hidden;
}

.case-slogan__ticker-container {
    max-width: 100%;
}

.case-slogan__ticker-bg_celadon {
    background-color: #008d82;
}

.case-slogan__ticker-bg_black {
    background-color: #171717;
}

.case-slogan__ticker-bg_pink {
    background-color: #fe33c3;
}

.case-slogan__ticker-bg_light-black {
    background-color: #181716;
}

.case-slogan__ticker-bg_case4 {
    background-color: var(--dark-bg-1);
}


/* .case-slogan__ticker-bg_1 {
    background-color: #008d82;
}
.case-slogan__ticker-bg_2 {
    background-color: #171717;
}
.case-slogan__ticker-bg_3 {
    background-color: #fe33c3;
}
.case-slogan__ticker-bg_4 {
    background-color: #fe33c3;
}
.case-slogan__ticker-bg_5 {
    background-color: #fe33c3;
}
.case-slogan__ticker-bg_6 {
    background-color: #fe33c3;
}
.case-slogan__ticker-bg_7 {
    background-color: #fe33c3;
}
.case-slogan__ticker-bg_8 {
    background-color: #fe33c3;
} */


.case-slogan__ticker-wrapper {
}

.case-slogan__ticker-items {
    display: flex;
    gap: 10px;
    width: 200%;
}

.line {
    animation: line 15s linear infinite;
}

.case-slogan__ticker-item {
    padding-top: 28px;
    padding-bottom: 26px;
    font-weight: 900;
    font-size: 46px;
    text-transform: uppercase;
    color: var(--bg-color-1);
    /* letter-spacing: 1.3px; */
    white-space: nowrap; 
    width: 100%;
}

.case-slogan__ticker-item.case3-slogan__ticker-item {
    padding-top: 24px;
    padding-bottom: 20px;
}

.case-slogan__ticker-item.case4-slogan__ticker-item {
    padding-top: 24px;
    padding-bottom: 18px;
}

.case-slogan__ticker-item.case-slogan__ticker-item_font {
    font-size: 47px;
    padding-top: 19px;
    padding-bottom: 10px;
}

.case3-slogan__ticker-item {
    font-weight: 400;
}

.case4-slogan__ticker-item {
    /* font-family: ; */
    font-style: italic;
    font-weight: 500;
    letter-spacing: -2px;
    color: #FEB41B;
    /* font-stretch: 50%; */
    /* display: inline-block; */
    /* transform: scale(0.8, 1); */
}

@keyframes line {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50% - 10px));
    }
}



.case-slogan__slider {
    /* padding-top: 28px; */
    padding-top: 48px;
    padding-bottom: 220px;
    /* height: 140vh; */
    height: 688px;
    background-color: var(--bg-color-1);
    position: sticky;
	/* top: 115px; */
	top: 77px;
    overflow-x: hidden;
}

.case-slogan__slider-wrap {
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}

.case-slogan__slider-border_left {
    position: absolute;
    top: 0;
    left: 0;
    /* margin-left: -15px; */
    width: 200px;
    height: 101%;
    background-color: var(--bg-color-1);
    z-index: 2;
}

.case-slogan__slider-border_right {
    position: absolute;
    top: 0;
    right: 0;
    /* margin-right: -15px; */
    width: 200px;
    height: 101%;
    background-color: var(--bg-color-1);
    z-index: 2;

}

.case-slogan__slider-container {
    position: relative;
    /* min-width: 0; */
}

.case-slogan__slider-container.case-slogan__slider-container-mobil {
    display: none;
}

.case-slogan__slider-wrapper {
}

.case-slogan__slider-slide {
    /* padding-left: 50px;
    padding-right: 50px; */
}

.case-slogan__slide-image-wrapper {
    text-align: center;
    /* position: relative; */
    /* max-width: 1240px; */
    /* max-width: 920px;
    height: 480px; */
    max-width: 1050px;
    height: 534px;
    margin: 0 auto;
}

.case-slogan__slide-slide-image {
    max-width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.case-slogan__slide-image-block-right, 
.case-slogan__slide-image-block-left {
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin-top: 0;
    background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, var(--bg-color-1) 100%);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;

    /* pointer-events: none; */
}

.case-slogan__slide-image-block-left {
    left: -1px;
    transform: rotate(-180deg);
}
.case-slogan__slide-image-block-right {
    right: -1px;
}

.case-slogan__slide-image-block-left:hover {
    /* background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    ); */
    /* background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, var(--bg-color-1) 100%); */
    opacity: 1;
}

.case-slogan__slide-image-block-right:hover {
    /* background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); */
    /* background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, var(--bg-color-1) 100%); */
    opacity: 1;
}

/* .case-slogan__slider-button-prev {
    position: absolute;
    top: 50%;
    left: 13%;
}

.case-slogan__slider-button-next {
    position: absolute;
    top: 50%;
    right: 13%;
}

.case-slogan__slider-button-prev:after,
.case-slogan__slider-button-next:after {
    color: #939292;
    font-size: 24px;
    font-weight: 700;
} */

.case-slogan__slide-image-block-left:after,
.case-slogan__slide-image-block-right:after {
    color: #6e6e6e;
    font-size: 0px;
    font-weight: 0;

}

.case-slogan__slide-image-block-left:after {
    transform: rotate(-180deg);
}

.case-slogan__slide-image-block-left:hover.case-slogan__slide-image-block-left:after,
.case-slogan__slide-image-block-right:hover.case-slogan__slide-image-block-right:after {
    font-size: 16px;
    font-weight: 600;
    /* padding: 9px 13px;
    background-color: rgba(252, 252, 252, 0.4);
    border-radius: 50%; */
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.swiper-pagination-bullet {
    background: var(--dark-bg-1);
    opacity: 0.8;
    width: 5px;
    height: 5px;
}

.swiper-pagination-bullet-active {
    background: var(--bg-color-1);
    border: 1px solid #000;
    width: 7px;
    height: 7px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -24px);
}

.case-slogan__slide-pagination-btn-prev,
.case-slogan__slide-pagination-btn-next {
    position: absolute;
    top: auto;
    bottom: -43px;
}

.case-slogan__slide-pagination-btn-prev:after,
.case-slogan__slide-pagination-btn-next:after {
    color: var(--dark-bg-1);
    font-size: 16px;
    font-weight: 600;
}

.case-slogan__slide-pagination-btn-prev {
    left: 45%;
}

.case-slogan__slide-pagination-btn-next {
    right: 45%;
}

.case-slogan__slide-pagination-btn-prev.case-slogan__slide-pagination-btn-prev_14 {
    left: 44%;
}

.case-slogan__slide-pagination-btn-next.case-slogan__slide-pagination-btn-next_14 {
    right: 44%;
}



.case-similar-projects {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--bg-color-1);
    position: relative;
    /* position: sticky;
	top: -150px; */
}

.case-similar-projects__container {

}

.case-similar-projects__content {

}

.case-similar-projects__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 98px;
    text-transform: uppercase;
    color: var(--dark-text);
    padding-bottom: 33px;
}

.case__description-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-1);
    min-height: 70px;
}

.case__description-btn-wrapper {
    display: none;
}

.case-similar-projects__content .portfolio__link-wrapper.block {
    /* padding-top: 90px;
    padding-bottom: 50px; */
    display: none;
}



.case-similar-projects__contacts {
    position: sticky;
	top: 0px;
}

.case-list {
    display: block;
}

/* @media only screen and (max-width: 1250px) {
    .case-slogan__slide-image-block-left {
        left: 8%;
    }
    .case-slogan__slide-image-block-right {
        right: 8%;
    }
}

@media only screen and (max-width: 1150px) {
    .case-slogan__slide-image-block-left {
        left: 5%;
    }
    .case-slogan__slide-image-block-right {
        right: 5%;
    }
}

@media only screen and (max-width: 1080px) {
    .case-slogan__slide-image-block-left {
        left: 3%;
    }
    .case-slogan__slide-image-block-right {
        right: 3%;
    }
} */


@media (max-width: 1330px) {
    .case-home {
        padding-top: 80px;
        top: 0;
    }
}

@media (max-width: 1190px) {
    .case-home__title, .case-similar-projects__title {
        font-size: 86px;
    }

    .case-home__item-links {
        top: 16px;
    }

    .case-similar-projects {
        padding-top: 100px;
    }

    .case-slogan__slide-pagination-btn-prev.case-slogan__slide-pagination-btn-prev_14 {
        left: 43%;
    }
    
    .case-slogan__slide-pagination-btn-next.case-slogan__slide-pagination-btn-next_14 {
        right: 43%;
    }
}

@media (max-width: 1080px) {
    .case-slogan__text {
        font-size: 32px;
    }

    .case-slogan__text2 {
        font-size: 24px;
    }

    .case-slogan__slide-image-wrapper {
        max-width: 780px;
        height: 430px;
    }

    .case-slogan-bg2, .case-slogan-bg4, .case-slogan-bg5 {
        padding-top: 24px;
        top: 54px;
    }

    .case-slogan__slider {
        padding-top: 24px;
        top: 54px;
    }

    .case-similar-projects__title {
        padding-bottom: 24px;
    }

    .list-portfolio__items-wrapper {
        grid-column-gap: 15px;
    }
}

@media (max-width: 960px) {
    .case-slogan__slide-image-wrapper {
        max-width: 720px;
        height: 410px;
    }

    .case-slogan__slide-pagination-btn-prev {
        left: 44%;
    }

    .case-slogan__slide-pagination-btn-next {
        right: 44%;
    }

    .case-slogan__slide-pagination-btn-prev.case-slogan__slide-pagination-btn-prev_14 {
        left: 42%;
    }
    
    .case-slogan__slide-pagination-btn-next.case-slogan__slide-pagination-btn-next_14 {
        right: 42%;
    }
}

@media (max-width: 891px) {
    .case-home__title, .case-similar-projects__title {
        font-size: 62px;
    }

    .case-slogan__ticker-item {
        padding-top: 15px;
        padding-bottom: 12px;
        font-size: 32px;
    }
    
    .case-slogan__ticker-item.case3-slogan__ticker-item {
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .case-slogan__ticker-item.case4-slogan__ticker-item {
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .case-slogan__ticker-item.case-slogan__ticker-item_font {
        font-size: 36px;
        padding-top: 14px;
        padding-bottom: 9px;
    }

    .case-slogan-bg2, .case-slogan-bg4, .case-slogan-bg5 {
        padding-top: 15px;
        top: 67px;
    }

    .case-slogan-bg3 {
        padding-top: 15px;
        top: 67px;
    }

    .case-slogan__img-wrapper {
        /* grid-template-columns: repeat(1, 1fr); */
        grid-column-gap: 15px;
    }

    .case-slogan__ticker {
        padding-top: 15px;
        top: 58px;
    }

    .case-slogan__slider {
        /* padding-top: 15px; */
        top: 64px;
    }

    .case-slogan__slide-image-wrapper {
        max-width: 640px;
        height: 358px;
    }

    .case-slogan__slide-pagination-btn-prev {
        left: 42%;
    }

    .case-slogan__slide-pagination-btn-next {
        right: 42%;
    }

    .case-slogan__slide-pagination-btn-prev.case-slogan__slide-pagination-btn-prev_14 {
        left: 38%;
    }
    
    .case-slogan__slide-pagination-btn-next.case-slogan__slide-pagination-btn-next_14 {
        right: 38%;
    }

}

@media (max-width: 720px) {
    .case-home {
        padding-top: 60px;
        top: 20px;
    }

    .case-home__title {
        line-height: 0.9375;
    }

    .case-home__title, .case-similar-projects__title {
        font-size: 48px;
    }

    .case-slogan__img {
        height: 78vh;
    }

    .case-slogan__text {
        padding-top: 60px;
        /* padding-bottom: 60px; */
        padding-bottom: 100px;
    }

    .case-slogan__text2 {
        /* flex-direction: column;
        gap: 24px; */
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(2, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 24px;

        padding-top: 54px;
        padding-bottom: 40px;
    }

    .case-slogan-bg3 {
        /* position: relative; */
    }

    .case-slogan__img-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }

    .case-slogan__slide-image-wrapper {
        max-width: 480px;
        /* height: 280px; */
    }

}

@media (max-width: 620px) {
    .case-slogan__slide-pagination-btn-prev {
        left: 40%;
    }

    .case-slogan__slide-pagination-btn-next {
        right: 40%;
    }

}

@media (max-width: 560px) {
    /* .case-slogan-bg2, .case-slogan-bg5 {
        padding-bottom: 15px;
    } */
    /* .case-slogan__slider {
        position: relative;
        height: 100%;
    } */

    .case-slogan__img {
        height: 60vh;
    }

    .case-slogan__slide-image-wrapper {
        max-width: 430px;
        /* height: 60vh; */
    }

    /* .swiper-wrapper {
        flex-direction: column;
        gap: 15px;
    } */

    .case-slogan__slide-pagination-btn-next,
    .case-slogan__slide-pagination-btn-prev {
        display: none;
    }

}

@media (max-width: 460px) {
    .case-slogan-bg .case-slogan__img {
        height: 390px;
    }

    /* .case2-slogan__img {
        background-position: 90%;
    } */

    .case-home__item-links {
        max-width: 300px;
    }

    .case4-home__bg {
        display: none;
    }

    .case4-home__bg-mobil {
        display: block;
    }

    .case5-home__bg {
        display: none;
    }

    .case5-home__bg-mobil {
        display: block;
    }

    .case-slogan.case4-slogan {
        position: sticky;
        top: 40px;
        background-color: var(--bg-color-1);
    }

    .case-slogan.case6-slogan {
        position: relative;
    }

    .case-slogan__text {
        text-indent: 0%;
        padding-bottom: 60px;
    }

    .case-slogan.case4-slogan2 {
        display: block;
        position: relative;
        top: 0px;
    }

    .case4-slogan__text .case4-slogan__text-p1 {
        display: none;
    }

    .case-slogan-bg2 {
        height: 100%;
        /* position: relative; */
    }

    .case-slogan-bg2.case11-slogan-bg2 {
        display: block;
    }

    .case-slogan-bg3.case11-slogan-bg3 {
        display: none;
    }

    .case-slogan-bg.case6-slogan-bg {
        top: 80px;
    }

    .case-slogan-bg2 .case-slogan__img {
        height: 183px;
    }

    .case-slogan-bg3 {
        top: -50px;
        padding-bottom: 0;
    }

    .case-slogan-bg3 .case-slogan__img,
    .case11-slogan-bg2 .case-slogan__img {
        height: 373px;
    }

    .case-slogan-bg3 {
        height: 100%;
    }

    .case-slogan-bg4 .case-slogan__img {
        height: 183px;
    }

    .case-slogan-bg4 {
        height: 100%;
        /* position: relative; */
    }

    .case-slogan-bg5 .case-slogan__img {
        height: 183px;
    }

    .case-slogan-bg5 {
        height: 100%;
        /* position: relative; */
    }

    .case-slogan-bg5.case11-slogan-bg5 {
        display: none;
    }

    .case-slogan__slider {
        height: 100%;
        padding-bottom: 50px;

        /* margin-top: 60px; */
    }

    .case-slogan__slider-container {
        display: none;
    }

    .case-slogan__slider-container.case-slogan__slider-container-mobil {
        display: block;
    }


    .list-portfolio__item-links {
        display: none;
    }

    .list-portfolio__item-bg-case {
        height: 305px;
    }

    .list-portfolio__item-name {
        font-size: 21px;
        padding-top: 12px;
        text-decoration: underline;
    }

    .case-portfolio__item-name {
        max-width: 200px;
    }

    .case__description-btn-wrapper {
        display: block;
        padding-top: 12px;
    }

    .case-similar-projects__content .portfolio__link-wrapper.block {
        padding-top: 90px;
        padding-bottom: 50px;
        
        display: flex;
        justify-content: center;
    }  
    
    .case-similar-projects__content .portfolio__link-wrapper.block a {
        /* display: flex;
        justify-content: center;

        border-radius: 100px;
        padding: 28px 110px;
        max-width: 358px;
        height: 82px; 
        background: var(--dark-bg-1);

        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;
        text-align: center;
        color: var(--bg-colour); */
        
        border: 1px solid var(--dark-bg-1);

        border-radius: 100px;
        padding: 28px 110px;
        /* width: 100%; */
        width: 358px;
        height: 82px; 
        background: var(--dark-bg-1);

        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        text-align: center;
        color: var(--bg-colour);
    }
    
    .case-similar-projects__content .portfolio__link-wrapper.block a:hover {
        background-color: var(--accent);
        border: 1px solid var(--accent);
    }

    .case-similar-projects__content .portfolio__link-wrapper.block a:active, 
    .case-similar-projects__content .portfolio__link-wrapper.block a:focus {
        background-color: #e74f19;
        border: 1px solid #e74f19;
    }

}

/* @media (max-width: 390px) {
    .case-similar-projects__content .portfolio__link-wrapper.block a {
        padding: 9px 24px;
        width: 358px;
        height: 82px;
    }
} */