.products {
    height: 100%;
    position: relative;
    /* top: 0px; */
    /* cursor: pointer; */
}

.products-relative {
    position: relative;
    /* top: 176vh; */
}

.products__container {
    background-color: #1B1B1C;
    /* height: 802px; */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.products__wrapper {
    display: flex;
    justify-content: space-between;
}

.products__description {
    flex: 0 0 50%;
}

.products__description-bg-top {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #1B1B1C 0%, rgba(27, 27, 28, 0.70) 58.33%, rgba(27, 27, 28, 0.00) 100%);
    z-index: 3;
}

.products__text-animation-horizont {
    display: none;
}


/* .products__description-wrapper {
    position: relative;
    background-color: rgba(255, 255, 255, 0.0);

} */

.products__text-animation {
    display: flex;
    flex-direction: column;

    height: 100%;
    /* position: relative;
    top: 0; */
    margin-top: 100vh;
    /* z-index: 10; */

    will-change: transform;
}

.products__text-animation .products__text-block {
    color: #eeeeee;
    font-size: 98px;
    font-weight: 500;
    line-height: 118%; /* 115.64px */
    text-transform: uppercase;
    /* width: 50%; */
    padding-bottom: 70px;

    /* opacity: 0; */

    /* position: absolute;
    top: 100vh; */
}

.products__text-animation .products__text-first_block {
    /* position: absolute;
    left: -6px;
    top: 0;
    width: 100%; */
    color: #eeeeee;
    cursor: pointer;
    z-index: 10;
}

/* .products__text-animation .products__text-first_block:hover {
    cursor: pointer;
} */


.products-reveal,
.products-reveal::after,
.products-reveal2,
.products-reveal2::after,
.products-reveal3,
.products-reveal3::after,
.products-reveal4,
.products-reveal4::after,
.products-reveal5,
.products-reveal5::after,
.products-reveal6,
.products-reveal6::after,
.products-reveal7,
.products-reveal7::after {
    /* animation-delay: 0.2s; */
    animation-duration: .6s;
    animation-fill-mode: both;
}

.products-reveal,
.products-reveal2,
.products-reveal3,
.products-reveal4,
.products-reveal5,
.products-reveal6,
.products-reveal7 {
	position: relative;
	white-space: nowrap;
}

.products__text-block.products-reveal-active .products-reveal::after,
.products__text-block.products-reveal-active .products-reveal2::after,
.products__text-block.products-reveal-active .products-reveal3::after,
.products__text-block.products-reveal-active .products-reveal4::after,
.products__text-block.products-reveal-active .products-reveal5::after,
.products__text-block.products-reveal-active .products-reveal6::after,
.products__text-block.products-reveal-active .products-reveal7::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #151515; */
    background: linear-gradient(180deg, #1B1B1C 80%, rgba(27, 27, 28, 0.70) 80%, rgba(27, 27, 28, 0.00) 100%);
    /* transform: rotate(180deg); */
    pointer-events: none;
    animation-name: revealer;
}

/* .products-reveal,
.products-reveal::after,
.products-reveal2,
.products-reveal2::after,
.products-reveal3,
.products-reveal3::after,
.products-reveal4,
.products-reveal4::after,
.products-reveal5,
.products-reveal5::after,
.products-reveal6,
.products-reveal6::after,
.products-reveal7,
.products-reveal7::after {
    animation-delay: 0.3s;
} */

.products-reveal,
.products-reveal::after {
    animation-delay: 0.2s;
}

.products-reveal2,
.products-reveal2::after {
    animation-delay: 0.25s;
}

.products-reveal3,
.products-reveal3::after {
    animation-delay: 0.3s;
}

/* .products-reveal4,
.products-reveal4::after {
    animation-delay: 0.25s;
}

.products-reveal5,
.products-reveal5::after {
    animation-delay: 0.3s;
}

.products-reveal6,
.products-reveal6::after {
    animation-delay: 0.35s;
}

.products-reveal7,
.products-reveal7::after {
    animation-delay: 0.4s;
} */

@keyframes revealer {

    0%, 100% {
        transform-origin: 100% 0;
    }
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}


/* .products__text-animation .products__text-third_block {
    position: absolute;
    left: -6px;
    top: 436px;
} */

.products__text-animation .products__text-second_block {
    /* display: inline-block; */
    font-size: 18px;
    line-height: 130%;
    text-transform: none;
    position: relative;
    left: 7px;
    /* top: -8px; */
    /* top: 310px; */
    width: 426px;
    margin-top: -100px;
    /* padding-bottom: 15px; */
    
    opacity: 0;

    /* display: none; */
    /* transform: scale(0);
    opacity: 0; */
    transition: margin-top 0.8s, opacity 0.2s ease 0.3s;
    /* transition: opacity 0.6s ease 0.3s; */
}

.products__text-second_block.products__text-second_block-open {
    margin-top: -20px;
    opacity: 1;
    /* transition: all 0.6s ease 0.3s; */
}


/* .open-block {
    display: block;
    animation-name: openBlock;
    animation-duration: 0.8s;
    animation-delay: 5s;
}

@keyframes openBlock {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
} */


.products__description-bg-bottom {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: linear-gradient(180deg, #1B1B1C 0%, rgba(27, 27, 28, 0.70) 58.33%, rgba(27, 27, 28, 0.00) 100%);
    transform: rotate(180deg);
    z-index: 3;
}

/* @keyframes matrix {
    0% {
        transform: translatey(0%);
    }
    100% {
        transform: translatey(-100%);
    }
} */

.products__animation {
    flex: 0 0 50%;
    /* position: absolute;
    top: 0;
    right: -600px; */
}

.products__description-bg-right {
    width: 50%;
    /* height: 100%; */
    height: 100vh;
    position: absolute;
    top: 0px;

    /* right: -100vw; */
    right: 0vw;
    opacity: 0;
    /* transition: right 0.6s ease-out 0.4s, opacity 0.4s ; */
    transition: opacity 0.6s ease-in 0.2s;

    z-index: 3;
}

.products__description-bg-right.bg-right0 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(255, 166, 12, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right1 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(182, 255, 12, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right2 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(12, 81, 255, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right3 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(166, 12, 255, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right4 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(255, 12, 227, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right5 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(255, 12, 85, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__description-bg-right.bg-right6 {
    /* right: 0vw; */
    background: linear-gradient(270deg, rgba(255, 93, 12, 0.8) -10.49%, rgba(244, 54, 12, 0) 100%);
    opacity: 1;
}

.products__img {
    width: 661px;
    height: 615px;
    position: absolute;
    /* right: 64px; */
    right: -60vw;
    top: 14vh;

    opacity: 0;
    transition: right 0.5s ease-out 0.4s, opacity 0.4s;
    /* transition: right 1s;
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(.44,.74,.07,1); */
    
    /* animation: pulse 10s linear infinite; */
    z-index: 5;
}

.products__img.img-right0, 
.products__img.img-right1, 
.products__img.img-right2, 
.products__img.img-right3, 
.products__img.img-right4, 
.products__img.img-right5, 
.products__img.img-right6 {
    right: 6vw;
    opacity: 1; 
}

/* 
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: scale(1.15);
        opacity: 0;
    }
} */

.products__img img{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    /* animation: rotate 20s linear infinite; */
}

/* @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */


.products__animation-btn-block {
    position: absolute;
    width: 600px;
    bottom: 115px;
    /* right: 110px; */
    /* right: -620px; */
    right: -50vw;
    /* right: 6vw; */
    
    opacity: 0;
    transition: right 0.5s ease-out 0.4s, opacity 0.5s;
    /* transition: opacity 0.6s ease-out 0.6s;  */

    z-index: 9;
}

.products__animation-btn-block.btn-block_right0, 
.products__animation-btn-block.btn-block_right1, 
.products__animation-btn-block.btn-block_right2, 
.products__animation-btn-block.btn-block_right3, 
.products__animation-btn-block.btn-block_right4, 
.products__animation-btn-block.btn-block_right5, 
.products__animation-btn-block.btn-block_right6 {
    right: 6vw;
    opacity: 1;
}


.products__animation-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__animation-description-wrapper {
    /* transition: opacity 0.4s;  */
    /* opacity: 0; */
}

.products__animation-description-wrapper.btn-descr_right0,
.products__animation-description-wrapper.btn-descr_right1,
.products__animation-description-wrapper.btn-descr_right2,
.products__animation-description-wrapper.btn-descr_right3,
.products__animation-description-wrapper.btn-descr_right4,
.products__animation-description-wrapper.btn-descr_right5,
.products__animation-description-wrapper.btn-descr_right6 {
    /* opacity: 1; */
}

.products__description-name {
    /* padding-top: 25px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    color: #eeeeee;
    position: relative;
    transition: 0.2s;
}

/* .products__description-name::before {
    content: '';
    bottom: -2px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 1.8px;
    transition: 0.2s;
    z-index: 10;
} */

/* .products__animation-btn-block:hover .products__description-name  {
    padding-top: 17px;
    font-size: 24px;
    text-decoration: underline;
} */

/* .products__animation:hover .portfolio__description-name::before {
    content: '';
    bottom: -2px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 1.8px;
    background: #eeeeee;
    transition: 0.2s;
} */


.products__description-btn-wrapper {
    padding-top: 10px;
}

.products__description-btn-left,
.products__description-btn-right {
    border: none;
    cursor: pointer;
    color: #eeeeee;
    border: 1px solid #3E59E4;
    outline: none;

    border-radius: 30px;
    background: #3E59E4;
    padding: 6px 12px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 110%; /* 15.4px */

    transition: 0.2s ease-in-out;
}

.products__description-btn-left:hover {
    border: 1px solid #2145f7;
    background: #2145f7;
    color: #fff;
}

.products__description-btn-right {
    border: 1px solid #E48E3E;
    background: #E48E3E;
    margin-left: 11px;
}

.products__description-btn-right:hover {
    border: 1px solid #f98d29;
    background: #f98d29;
    color: #fff;
}

.products__btn-wrapper {
    /* position: absolute;
    right: 0;
    bottom: -7px;
    z-index: 9; */
    
}

.products__animation-btn-next {
    display: block;
    /* width: 56px;
    height: 56px; */
    border-radius: 5px;
    border: 2px solid #eeeeee;
    padding: 18px;
    padding-right: 42px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 500;
    line-height: 110%; /* 19.8px */
    color: #eeeeee;

    transition: 0.3s ease 0s;
}

.products__animation-btn-next:hover {
    /* border: 2px solid #ffffff; */
    /* background-color: #BE9608; */
    /* background-color: rgba(190, 150, 8, 0.8);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.66); */
} 

.products__animation-btn {
    position: relative;
    overflow: hidden;
}

.products__btn-next {
    position: absolute;
    top: 20px;
    right: 18px;
    border: solid #eeeeee;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.2s ease-in-out;
}

.products__animation-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.6)); */
    filter: blur(10px);
    transform: translateX(-90px) skew(-45deg);
    animation: move 5s 1s infinite;
}

@keyframes move {
    0% {
        left: -10%;
        /* transform: translateX(-60px) skew(-45deg); */
    }
    20%,
    100% {
        left: 150%;
        /* transform: translateX(400px) skew(-45deg); */
    }
}

.ripple {
    position: absolute;
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);

    animation: button-circle 2s ease forwards;
}

@keyframes button-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}
