.slogan {
    /* width: 100%;
    height: 920px; */
    /* padding-top: 210px; */
    padding-top: 170px;
    /* margin-top: -210px; */
    padding-bottom: 220px;
    /* padding: 200px 0px; */
    /* padding-bottom: 220px; */
    /* z-index: 3; */
    position: sticky;
    top: 0px;
    /* top: 20vh; */
    height: 110vh;

    /* background: #eeeeee; */
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .slogan-relative {
    position: relative;
    top: -150px;
} */

.slogan__text-wrapper {

    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 20px;

    color: #A8A8A8;
    font-size: 98px;
    font-weight: 500;
    line-height: 126.5%;
    letter-spacing: -2.45px;
    text-transform: uppercase;
    text-align: justify;
    cursor: pointer;
    transition: 0.3s ease; */
    margin-left: -8px;
}

.slogan__text-wrapper.none {
    display: none;
}

.slogan__text-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 20px;

    color: #cecece;
    font-size: 86px;
    font-weight: 500;
    line-height: 130%;
    /* letter-spacing: -2.45px; */
    text-transform: uppercase;
    text-align: justify;
    cursor: pointer;
    transition: 0.3s ease;

    overflow: hidden;
}

.slogan__text-first_line,
.slogan__text-second_line,
.slogan__text-third_line,
.slogan__text-fourth_line,
.slogan__text-fifth_line, 
.slogan__text-sixth_line,
.slogan__text-seventh_line,
.slogan__text-eighth_line {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    width: 100%;
}

.slogan__text-fourth_line {
    column-gap: 20px;
}

.slogan__text-first_line .first_line-1:hover,
.slogan__text-first_line .first_line-2:hover,
.slogan__text-first_line .first_line-3:hover,
.slogan__text-first_line .first_line-4:hover,
.slogan__text-first_line .first_line-5:hover,
.slogan__text-second_line .second_line-1:hover,
.slogan__text-second_line .second_line-2:hover,
.slogan__text-second_line .second_line-3:hover,
.slogan__text-second_line .second_line-4:hover,
.slogan__text-third_line .third_line-1:hover,
.slogan__text-third_line .third_line-2:hover,
.slogan__text-third_line .third_line-3:hover, 
.slogan__text-fourth_line .fourth_line-1:hover,  
.slogan__text-fourth_line .fourth_line-2:hover,  
.slogan__text-fourth_line .fourth_line-3:hover,  
.slogan__text-fourth_line .fourth_line-4:hover,
.slogan__text-fifth_line .fifth_line-1:hover,
.slogan__text-fifth_line .fifth_line-2:hover {
    /* color: #1B1B1C; */
    color: #FF6831;
    transition: 0.3s ease;
}


._animat-show {
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0.3s;
}

._animat-show._active-animat,
._active-animat ._animat-show {
    transform: translate(0px,0px);
    opacity: 1;
}



@media (max-width: 1330px) {
    .slogan__text-item {
        font-size: 72px;
        line-height: 150%;
    }
}

@media (max-width: 1190px) {
    .slogan__text-item {
        font-size: 64px;
    }
}

@media (max-width: 1080px) {
    .slogan__text-item {
        font-size: 58px;
    }
}

@media (max-width: 960px) {
    .slogan{
        height: 100%;
        padding-top: 110px;
    }

    .slogan__text-item {
        font-size: 52px;
    }

    .slogan__text-first_line, 
    .slogan__text-second_line, 
    .slogan__text-third_line, 
    .slogan__text-fourth_line, 
    .slogan__text-fifth_line, 
    .slogan__text-sixth_line,
    .slogan__text-seventh_line,
    .slogan__text-eighth_line {
        column-gap: 10px;
    }
}

@media (max-width: 891px) {
    .slogan{
        padding-top: 80px;
    }

    .slogan__text-item {
        font-size: 48px;
    }
}

@media (max-width: 781px) {
    .slogan{
        padding-top: 100px;
    }

    .slogan__text-item {
        font-size: 42px;
    }

    /* .slogan__text-first_line, 
    .slogan__text-second_line, 
    .slogan__text-third_line, 
    .slogan__text-fourth_line, 
    .slogan__text-fifth_line, 
    .slogan__text-sixth_line,
    .slogan__text-seventh_line,
    .slogan__text-eighth_line {
        justify-content: start;
        flex-wrap: wrap;
        column-gap: 10px;
    } */
}

@media (max-width: 720px) {
    .slogan__text-item {
        font-size: 36px;
    }

    /* .slogan__text-first_line, 
    .slogan__text-second_line, 
    .slogan__text-third_line, 
    .slogan__text-fourth_line, 
    .slogan__text-fifth_line, 
    .slogan__text-sixth_line,
    .slogan__text-seventh_line,
    .slogan__text-eighth_line {
        justify-content: start;
        flex-wrap: wrap;
    } */
}

@media (max-width: 560px) {
    .slogan{
        /* position: relative; */
        /* padding-top: 190px; */
        /* height: 100%; */
        top: 20px;
    }

    .slogan__text-wrapper {
        display: none;
    }

    .slogan__text-wrapper.none {
        display: block;
        /* display: inline-block; */
    }

    .slogan__text-item {
        /* letter-spacing: 0; */
        line-height: 150%;
    }

    .slogan__text-first_line, 
    .slogan__text-second_line, 
    .slogan__text-third_line, 
    .slogan__text-fourth_line, 
    .slogan__text-fifth_line, 
    .slogan__text-sixth_line,
    .slogan__text-seventh_line,
    .slogan__text-eighth_line {
        justify-content: start;
        flex-wrap: wrap;
    }

    .slogan__text-first_line .first_line-1:hover,
    .slogan__text-first_line .first_line-2:hover,
    .slogan__text-first_line .first_line-3:hover,
    .slogan__text-first_line .first_line-4:hover,
    .slogan__text-first_line .first_line-5:hover,
    .slogan__text-second_line .second_line-1:hover,
    .slogan__text-second_line .second_line-2:hover,
    .slogan__text-second_line .second_line-3:hover,
    .slogan__text-second_line .second_line-4:hover,
    .slogan__text-third_line .third_line-1:hover,
    .slogan__text-third_line .third_line-2:hover,
    .slogan__text-third_line .third_line-3:hover, 
    .slogan__text-fourth_line .fourth_line-1:hover,  
    .slogan__text-fourth_line .fourth_line-2:hover,  
    .slogan__text-fourth_line .fourth_line-3:hover,  
    .slogan__text-fourth_line .fourth_line-4:hover,
    .slogan__text-fifth_line .fifth_line-1:hover,
    .slogan__text-fifth_line .fifth_line-2:hover, 
    .slogan__text-sixth_line .sixth_line-1:hover,
    .slogan__text-sixth_line .sixth_line-2:hover,
    .slogan__text-sixth_line .sixth_line-3:hover,
    .slogan__text-seventh_line .seventh_line-1:hover,
    .slogan__text-eighth_line .eighth_line-1:hover, 
    .slogan__text-eighth_line .eighth_line-2:hover {
        /* color: #1B1B1C; */
        color: #FF6831;
        transition: 0.3s ease;
    }

}

@media (max-width: 540px) {
    .slogan {
        /* position: relative; */
        /* padding-top: 60px; */
        /* height: 100%; */
        /* top: -100px; */
    }
}

@media (max-width: 520px) {
    .slogan {
        /* top: 50px; */
        /* top: 30px; */
    }
}

@media (max-width: 460px) {
    .slogan {
        /* top: 40px; */
    }

    /* .slogan__text-wrapper {
        display: inline-block;
    } */
    
    .slogan__text-item {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #cecece;
    }

    /* .slogan__text-first_line div {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;

    } */
}
